$free-color: #10b981;
$paid-color: #e03bf6;

$bg-beginner: linear-gradient(135deg, #d1fae5, #ecfdf5);
$bg-intermediate: linear-gradient(135deg, #fef3c7, #fde68a);
$bg-advanced: linear-gradient(135deg, #fbcfe8, #fda4af);

$new-color: #facc15;
