* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    font-family: Arial, sans-serif;
    
}


main {
    margin-top: 20px;
    padding: 20px;
}


.info {
    font-size: 18px;
    color: #555;
}