.header {
    position: sticky;
    top: 0;
    z-index: 100;

    background: #ffffff;
    padding: 18px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    margin-bottom: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 26px;
    margin: 0;
}